{% extends 'management/index.html' %}

{% load static %}

{% block quickactions %}
{% endblock %}

{% block content %}


<div class="table-responsive">
    <h3 style="text-align-last: center; margin-top: 30px;" > Relação De Testes Removidos - ICT3 - Neo50s </h3>
    <hr>
    <table class= "table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Componente</th>
                <th>Falha</th>
                <th>Motivo</th>
                <th>Data</th>
                <th>options</th>
            </tr>
            {% for n50sict3 in object_list %}
            <tr>
                <td>{{ n50sict3.pk }}</td>
                <td>{{ n50sict3.componente }}</td>
                <td>{{ n50sict3.Falha }}</td>
                <td>{{ n50sict3.Motivo }}</td>
                <td>{{ n50sict3.data }}</td>
                <td> <a href="{% url 'n50sict3del' n50sict3.pk %}" class="btn btn-danger btn-sm">Excluir</a> </td>
            </tr>
        </thead>

        {% empty %}
        <tr>
            <td colspan="5">Nenhum Registro</td>
        </tr>
        {% endfor %}

    </table>
</div>


{% endblock %}