
{% extends "index.html" %}

{% load static %}


{% block content %}

{% block title %}
<title> P.M.S Perfil Maquinário</title>
{%endblock%}
<div class="container-fluid px-2 px-md-4 mt-7">

  <div class="card card-body mx-3 mx-md-4 mt-n6" style="display: -webkit-box; padding: 30px;">
    
    <div class="col-auto my-auto" style="width: 50%;">
      <div class="h-100">
        <h5 class="mb-1 text-capitalize ">
          
         {{ maquina.Nome }}
        </h5>
        
      </div>
    <div>
      <div >
        <div>
          {% if maquina.Foto %}
          <img src="{{ maquina.Foto.url }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                {% else %}
          <img src="{% static 'img/default_image.jpg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
          {% endif %}
        </div>
      </div>
      </div>
      
    </div>
    <div class="row">
        <div class="col-12 col-xl-4" style="width: calc(132vh - 400px);">
          <div class="card card-plain h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6  id="textos" class="mb-0">Informações Gerais</h6>
                </div>
                <div class="col-md-4 text-end">
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <p  style="font-weight: 500;" class="text-sm"> {{maquina.Informações}} </p>

            </div>
          </div>
        </div>
       </div>
        
      </div>
    </div>
  </div>
</div>

{%endblock%}
